@charset "utf-8" ;
/*全てのページに適用*/
html{
    font-size: 16px ;
    font-family: sans-serif,serif ;
    }

*{
    box-sizing: border-box ;
}
img{
    max-width: 100% ;
}
body{
    margin: 0 0 0 0 ;
}


/*ヘッダーに適用*/
.header{
    padding: 20px auto ;
    text-align: center ;
    background-image: url(../img/otsukimi.png) ;
}
.nav ul{
    margin: 30px 0 0 0 ;
    padding: 0 0 0 0 ;
    list-style-type: none ;
    display: flex ;
    justify-content: center ;
    gap: 50px ;
    color: white;
}

/*ヒーローに適用*/
.hero{
    margin: 40px auto ;
    padding: 200px 0 ;
    max-width: 1000px ;
    text-align: center ;
    color: #ffffff ;
}

/*index.htmlのヒーローに適用*/
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.hero.index{
    background-image: url(../img/komaniya_hero.webp) ;
    background-size: cover ;
    position: relative ;
    animation: fadeIn 2s ease-in-out ;
}

/*overview.htmlのヒーローに適用*/


/*price.htmlのヒーローに適用*/
    .hero.price{
        background-image: url(../img/teyvat.webp) ;
        background-size: contain ;
        background-repeat: no-repeat;
        position: relative ;
        padding: 400px 0 ;
    }

/*メインに適用*/
main{
    margin: 90px auto 90px auto ;
    max-width: 1000px ;
}
main h2 {
    margin: 60px 0 20px 0 ;
    border-bottom: 2px solid #253958 ;
    padding: 0 0 5px 0 ;
    color: #253958 ;
    font-size: 1.3rem ;
}

/*フッターに適用*/
.returnTop{
    position : fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center ;
    display: none;
    margin: 0 auto;

}


  .copyright{
    margin-top: 20px ;
    margin-bottom: 0px ;
    padding-top: 75px ;
    padding-bottom: 75px ;
    background-image: url(../img/kissyo.jpg) ;
    background-repeat: repeat;
    color: #000000 ;
    text-align: center ;
    font-size: 25px;
    letter-spacing: 10px;
}

/* 個別スタイル */
/* index.html */
.index main{
    padding: 0 0 0 20px;
    line-height: 1.7;
}

/* overview.html */
.view{
    border-collapse: collapse ;
}
.view th, .view td{
    border: 1px solid #dbdbdb;
    padding: 10px;
}
.view th{
    width: 112px ;
    text-align: left ;
    vertical-align: top ;
}

/* price.html */
.delivery{
    text-align: center;
}
.hero.price .inaduma {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.hero.price .ri-yue {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.hero.price .mondo {
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.hero.price .sume-ru {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

/*inquiry.htmlに適用*/
.evaluation{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
    gap: 20px ;
    text-align: center;
    padding: 100px 0;
}  
.good{
    height: 100px;
    width: 100px;
}
.bad{
    height: 100px;
    width: 100px;
}

input[type="text"],textarea{
    padding: 6px ;
    width: 100% ;
    font-size: 1rem ;
}
textarea{
    height: 140px ;
}
.submit{
    text-align: center ;    
}
.submit input[type="submit"]{
    border: none ;
    padding: 20px ;
    width: 200px ;
    background-color: #253958 ;
    color: #ffffff ;
    font-size: 1rem ;
}

/*　モバイル対応　*/
@media(max-width: 767px ){
    .nav ul{
        flex-wrap: wrap ;
        gap: 20px ;
    }
    main{
        padding: 0 4%;
    }
}
